{{>headers}}

<body>
    <link href="/css/bootstrap-slider.min.css" rel="stylesheet">
    {{>navbar}}
    <div class="container">
        
        <div class="row">
            <div class="col-lg-3">
                <h5 class="mt-4 mb-1">Filtrar</h5>
                <div class="list-group" style="padding:15px; border: 2px black solid">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="checkbox" id="available" name="available" value="True" onclick="available()">
                            <label for="available" style="font-size: 12px;"> <b>Disponible</b></label><br>
                    
                        </div>
                    </div>
                    <span class="noselect">Precio</span>
                    <input id="ex2" type="text" class="span2" value="" data-slider-id="range" data-slider-min="10" data-slider-max="700" data-slider-step="5" data-slider-value="[10,700]"/>
                    <hr style="border-color:black; height: 5px; width: 100%;">
                    <div id="stars-selector">
                        <div class="row ml-1">
                            <input type="checkbox" id="5stars" name="stars" value="5" style="margin-left:5px;">
                            <label for="5stars" style="font-size: 12px;"> 
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                            </label>
                        </div>
                        <br>
                        <div class="row ml-1">
                            <input type="checkbox" id="4stars" name="stars" value="4" style="margin-left:5px;">
                            <label for="4stars" style="font-size: 12px;"> 
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </label>
                        </div>
                        <br>
                        <div class="row ml-1">
                            <input type="checkbox" id="3stars" name="stars" value="3" style="margin-left:5px;">
                            <label for="3stars" style="font-size: 12px;"> 
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                            </label>
                        </div>
                        <br>
                        <div class="row ml-1">
                            <input type="checkbox" id="2stars" name="stars" value="2" style="margin-left:5px;">
                            <label for="2stars" style="font-size: 12px;"> 
                                <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
                            </label>
                        </div>
                        <br>
                        <div class="row ml-1">
                            <input type="checkbox" id="1stars" name="stars" value="1" style="margin-left:5px;">
                            <label for="1stars" style="font-size: 12px;"> 
                                <small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small>
                            </label>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            
            <div class="col-lg-9 mt-4">
                <div class="row">
                      
                     {{#productos}}
                     <div class="col-lg-4 col-md-6 mb-4" name="fichasProductos" data-price="{{price}}" data-stock="{{stock}}">
                        <div class="card h-100">
                          <a href="/producto/{{idProduct}}"><img class="card-img-top" src="{{ImageSource}}" alt=""></a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="/producto/{{idProduct}}">{{name}}</a>
                            </h4>
                            <h5>{{price}} €</h5>
                            <p class="card-text">{{description}}</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted" name="stars-holder" stars-number="{{starsAverage}}"></small>
                          </div>
                        </div>
                      </div>
                     {{/productos}}
                      
                </div>
            </div>
        </div>
    </div>
    {{>scripts}}
    <script src="/js/bootstrap-slider.min.js"></script>
    <script src="/js/catalog.js"></script>

</body>