<!DOCTYPE html>
{{>headers}}

<body style="padding: 0; background-color: rgba(254,159,31,0.8)">
    <div class="container">

        <div class="row" style="padding-top: 25%;">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="row align-content-center justify-content-center">
                    <h1 style="color: red">Error 401</h1>
                </div>
                <div class="row align-content-center justify-content-center">
                    <h5>No estas autorizado a acceder a esta seccion. Logueate o usa credenciales validos</h5>
                </div>
                <div class="row align-content-center justify-content-center">
                    <a href="/login/"><button class="btn btn-danger" href="/login/">Back to login <i class="bi bi-house-door-fill ml-1"></i></button></a>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>


    </div>
</body>