<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="UTF-8">
		<title>Pc-Community</title>
		<!-- Bootstrap core CSS -->
  		<link href="/css/bootstrap.min.css" rel="stylesheet">

  		<!-- Custom styles for this template -->
  		<link href="/css/style.css" rel="stylesheet">
  		
  		<!-- Libreria de iconos ion-ios -->
  		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	</head>