{{>headers}}

<body>
  {{>navbar}}
  <div class="container">
    <div class="row">
      {{#producto}}
      <div class="col-lg-12 mt-2" style="height: 85vh;">
        <div class="row justify-content-end">
          <div class="col-lg-3 mt-4">
            <h3 class="mb-3">{{name}}</h3>
            <h5 class="mb-3">{{price}} €</h5>
            <h5 class="mb-3">Categoria del producto</h5>
            <button class="buy-button mb-4 mt-2" onclick="updatecart({{idProduct}})"><i class="bi bi-cart4 mr-2"></i>
              A&ntilde;adir al carrito</button>
            <span style="font-size: 1.25rem;" class="noselect">Cantidad </span>
            <select class="mb-2 mt-2 ml-2" id="units" data-units="{{stock}}">

            </select>
          </div>
          <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="row align-items-center justify-content-center">
                    <img class="d-block img-fluid" src="{{bannerSource1}}" alt="First slide">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row align-items-center justify-content-center">
                    <img class="d-block img-fluid" src="{{bannerSource2}}" alt="Second slide">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row align-items-center justify-content-center">
                    <img class="d-block img-fluid" src="{{bannerSource3}}" alt="Third slide">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <span class="noselect">Descripci&oacute;n</span>
            <p style="font-size: small; padding-left: 10px;">{{description}}</p>
            {{/producto}}
            <span class="noselect">Valoraciones</span>
            <br>
            {{#reviews}}
            

            <div class="col-lg-8 mb-2">
              <!--Esto es un solo comentario-->
              <h6 class="my-0" style="font-size: large;">{{clientName}}</h6>
              <small class="text-muted noselect" name="stars-holder" stars-number="{{stars}}"></small>
              <!--9733 estrella llena, 9734 estrella vacia-->
              <p style="font-size: small;">{{message}}</p>
            </div>
            {{/reviews}}
            <!--Hasta aqui el comentario-->
            <span class="noselect">Deja tu valoracion</span>
            <div class="col-lg-8 mb-2">
              <div class="row mt-2 mb-1">
                <div class="col-sm-4">
                  <div class="row">
                    <span class="noselect mr-1" style="font-size: 10px;">Numero &#9733</span>
                    <select id="new-number">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row my-1">
                <div class="col-sm-12">
                  <textarea type="text" id="new-review" style="height: 100px; width: 100%; font-size: 11px"></textarea>
                </div>
                <div class="row my-1">
                  <div class="col.sm-9"></div>
                  <div class="col-sm-3">
                    <button class="btn btn-outline-info" onclick="leaveReview()">Dejar rese&ntilde;a</button>
                  </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>scripts}}
  <script src="/js/product.js"></script>
</body>